:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0908;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: #FC466B;
  --purple: #3F5EFB;
}

.container {
  min-height: 100vh;
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.fuzzy-wrapper {
  background-image: url("white-noise.jpg");
  position: absolute;
  inset: -200%;
  opacity: 4%;
  animation: fuzziness 0.9s linear infinite both;
  z-index: -1;
}

@keyframes fuzziness {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  10% {
    transform: translateX(15%) translateY(-10%);
  }
  20% {
    transform: translateX(-10%) translateY(20%);
  }
  30% {
    transform: translateX(20%) translateY(-20%);
  }
  40% {
    transform: translateX(-20%) translateY(10%);
  }
  50% {
    transform: translateX(10%) translateY(-10%);
  }
  60% {
    transform: translateX(-10%) translateY(-20%);
  }
  70% {
    transform: translateX(20%) translateY(10%);
  }
  80% {
    transform: translateX(-20%) translateY(-10%);
  }
  90% {
    transform: translateX(10%) translateY(20%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 600px;
  margin: 3.75rem auto;
  padding: 2rem;
  text-align: left;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  margin-bottom: 3.125rem;
}

#icon {
  width: 100px;
  height: 100px;
}

icon-buton {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
}

.name {
  width: fit-content;
  font-size: 70px;
  letter-spacing: 3px;
  background: linear-gradient(to right, red , purple 70%); /* Adjusted gradient to start more on the left */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.bubble {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, red, purple); /* Add this line */
  width: fit-content;
  padding: 5px 10px 4px 10px;
  text-align: left;
  color: #eae0d5;
  pointer-events: none;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px 25px 25px 5px;
  transition: transform 0.2s ease;
  transform-origin: center center;
  z-index: 1000;
  font-size: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0d1b2a;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
