:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a0908;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: #FC466B;
  --purple: #3F5EFB;
  --gray: #6c757d;
}

.container {
  min-height: 100dvh;
  height: fit-content;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.fuzzy-wrapper {
  background-image: url("white-noise.jpg");
  position: absolute;
  inset: -200%;
  opacity: 4%;
  animation: fuzziness 0.9s linear infinite both;
  z-index: -1;
}

@keyframes fuzziness {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  10% {
    transform: translateX(15%) translateY(-10%);
  }
  20% {
    transform: translateX(-10%) translateY(20%);
  }
  30% {
    transform: translateX(20%) translateY(-20%);
  }
  40% {
    transform: translateX(-20%) translateY(10%);
  }
  50% {
    transform: translateX(10%) translateY(-10%);
  }
  60% {
    transform: translateX(-10%) translateY(-20%);
  }
  70% {
    transform: translateX(20%) translateY(10%);
  }
  80% {
    transform: translateX(-20%) translateY(-10%);
  }
  90% {
    transform: translateX(10%) translateY(20%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h2 {
  font-size: 1.75rem;
  
}

#app {
  max-width: 700px;
  margin: 3.75rem auto;
  padding: 2rem;
  text-align: left;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  text-align: end;
}

#icon {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease; /* Added transition property */
}

#hero-name {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  text-align: right;
}

.username {
  width: fit-content;
  font-size: 50px;
  letter-spacing: 5px;
  background: linear-gradient(to right, red , purple 70%); /* Adjusted gradient to start more on the left */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  margin-right: -0.3125rem;
}

.name {
  width: fit-content;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
  color: gray;
  letter-spacing: 5px;
}

#bubble {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to right, red, purple); /* Add this line */
  width: fit-content;
  padding: 5px 10px 4px 10px;
  text-align: left;
  color: #eae0d5;
  pointer-events: none;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px 25px 25px 5px;
  transition: transform 0.2s ease;
  transform-origin: center center;
  z-index: 1000;
  font-size: 20px;
  visibility: hidden;
  transition: transform 0.2s ease, opacity 0.2s ease; /* Add opacity to the transition */
  opacity: 0; /* Add this line */
}

.bubble-icon {
  padding-left: 10px;
  width: 30px;
  height: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #0d1b2a;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Fonts */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

h2, .open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.open-sans-black {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fira-code-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.fira-code-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.fira-code-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}